extends layout

block content
  h1= title
  - var image_names = ["Jackal_img1" ,"Jackal_img2" ,"Jackal_img3" ,"Jackal_img4" ,"Jackal_img5"];
  - for(let j=0; j<3;j++){
    - let variable = Math.floor(Math.random()*5);
    img(src=`/images/${image_names[variable]}.png`,alt="jackal", width="300px", height="300px")
  - }
  